{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center align-items-center flex-column" style="min-height: 100vh;">
    <h1>Login</h1>
  <form class="col-md-6" method="POST" action="/login">
    <div class="mb-3">
      <label for="exampleInputUsername" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        name='username'
        aria-describedby="UsernameHelp"
        placeholder="Enter username"
      />
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        name='password'
        id="exampleInputPassword1"
        placeholder="Password"
      />
    </div>
  
    <button type="submit" class="btn btn-primary px-4">Submit</button>
  </form>
</div>

{% endblock %}
